body,
html {
    --bg0: #d1f5ef;
    --bg1: #777777;
    --fg0: #00000a;
    --strk: #ffffff;
    margin: 0;
    background: var(--bg0);
    color: var(--fg0);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    padding: 10px;
    width: 80%
}

#countries {
    fill-opacity: 0.8;
    background-color: var(--bg1);
    stroke: var(--strk);
    stroke-width: 0.9;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    text-align: left;
    margin-top: -10px;
    background: var(--strk);
    color: var(--fg0);
}


h2 {
    color:darkslategray;
}
